<h1>配送先登録	/一覧</h1>

<%= form_with(model:@delivery, url: customers_deliveries_path, local: true) do |f| %>
	<p>郵便番号<%= f.text_field :postcode %></p>
	<p>住所<%= f.text_area :address %></p>
	<p>宛名<%= f.text_field :name %></p>
	<%= f.submit "登録する" %>
<% end %>

<table>
  <thead>
	<tr>
	　　<th>郵便番号</th>
	　　<th>住所</th>
	　　<th>宛名</th>
    </tr>
  </thead>

  <tbody>
  	<% @deliveries.each do |delivery| %>
  <tr>
	<td><%= delivery.postcode %></td>
	<td><%= delivery.address %></td>
    <td><%= delivery.name %></td>
	<td><%= link_to "編集", edit_customers_delivery_path(delivery) %></td>
	<td><%= link_to "削除", customers_delivery_path(delivery), method: :delete %></td>
  </tr>
  <% end %>
	</tbody>
</table>


