<h3>ジャンル編集</h3>
  <%= form_with model: @admin, url: admins_genre_path(params[:id]), method: :patch, local: true do |f| %>
  <%= f.fields_for :genre do |g| %>
	<%= g.label :name, 'ジャンル'%>
	<%= g.text_field :name, placeholder: @genre.name %>
	<%= g.radio_button :is_deleted, false %>
	<%= g.label :invalid, '有効' %>
	<%= g.radio_button :is_deleted, true %>
	<%= g.label :valid, '無効' %>
  <% end %>
	<%= f.submit '変更を保存する' %>
  <% end %>