<h4>ジャンル一覧・追加</h4>

  <%= form_with model:@admin, url: admins_genres_path, local: true do |f| %>
	<%= f.label :name, 'ジャンル'%>
	<%= f.text_field :name %>
	<%= f.radio_button :is_deleted, 1 %>
	<%= f.label :invalid, '有効' %>
	<%= f.radio_button :is_deleted, 0 %>
	<%= f.label :valid, '無効' %>
	<%= f.submit '追加' %>
  <% end %>

<table class="">
  <thread>
	<tr>
		<th>ジャンル</th>
		<th>状態</th>
	</tr>
  </thread>
  <tbody>
  	<% @genres.each do |genre| %>
	<tr>
		<td><%= genre.name %></td>
		<td>
			<% if genre.is_deleted %>
				有効
			<% else %>
				無効
			<% end%>
		</td>
		<td><%= button_to "編集する", edit_admins_genre_path(genre), {method: :get} %><td>
		<td><%= link_to "テストのため削除", admins_genre_path(genre), {method: :delete} %></td>
	</tr>

	<% end %>
  </tbody>
</table>