<h1>マイページ</h1>

<h2>登録情報</h2>
<li><%= link_to "編集", edit_customers_path, class: "btn btn-outline-primary" %></li>
<li><%= link_to "パスワードを変更する", customers_change_path, class: "btn btn-outline-primary" %></li>
<table class="table">
	<tr>
			<th>氏名</th>
			<th><%= @customer.last_name %><%= @customer.first_name %></th>
		</tr>

		<tr>
			<th>カナ</th>
			<th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
		</tr>

		<tr>
			<th>郵便番号</th>
			<th><%= @customer.postcode %></th>
		</tr>

		<tr>
			<th>住所</th>
			<th><%= @customer.address %></th>
		</tr>

		<tr>
			<th>電話番号</th>
			<th><%= @customer.phone_number %></th>
		</tr>

		<tr>
			<th>メールアドレス</th>
			<th><%= @customer.email %></th>
		</tr>

</table>


<li><span>配送先</span><%= link_to "一覧を見る", customers_deliveries_path, class: "btn btn-outline-primary" %></li>
<li><span>注文履歴</span><%= link_to "一覧を見る", orders_path(@order), class: "btn btn-outline-primary" %></li>
<li><%= link_to "退会", customers_confirm_path %></li>