<div class="nav-img1 main-top"></div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
		<h2>マイページ</h2>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="customer-edits">
			<h4 class="sideby">登録情報</h4>
				<%= link_to "編集", edit_customers_path, class: "btn btn-default sideby" %>
				<%= link_to "パスワードを変更する", customers_change_path, class: "btn btn-default sideby" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-8">
				<table class="table">
				<tr>
					<th class="th-mypage"><div class="text-center">氏名</div></th>
					<td><div class="text-center"><%= @customer.last_name %>&nbsp;<%= @customer.first_name %></div></td>
				</tr>
				<tr>
					<th class="th-mypage"><div class="text-center">カナ</div></th>
					<td><div class="text-center"><%= @customer.last_name_kana %>&nbsp;<%= @customer.first_name_kana %></div></td>
				</tr>
				<tr>
					<th class="th-mypage"><div class="text-center">郵便番号</div></th>
					<td><div class="text-center"><%= @customer.postcode %></div></td>
				</tr>
				<tr>
					<th class="th-mypage"><div class="text-center">住所</div></th>
					<td><div class="text-center"><%= @customer.address %></div></td>
				</tr>
				<tr>
					<th class="th-mypage"><div class="text-center">電話番号</div></th>
					<td><div class="text-center"><%= @customer.phone_number %></div></td>
				</tr>
				<tr>
					<th class="th-mypage"><div class="text-center">メールアドレス</div></th>
					<td><div class="text-center"><%= @customer.email %></div></td>
				</tr>
			  </table>
			</div>
		</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4">
				<div class=" customer-edits">
					<h4 class="sideby">配送先 <%= link_to "一覧を見る", customers_deliveries_path, class: "btn btn-default sideby" %></h4><br>
					<h4 class="sideby">注文履歴 <%= link_to "一覧を見る", orders_path(@order), class: "btn btn-default sideby" %></h4>
				</div>
				</div>
			</div>
		</div>

	</div>
  </div>
</div>
