<p>注文情報入力</p>
<%= form_with(model:@order, url: orders_path, local: true) do |f| %>
  <p>支払い方法</p>
    <ul>
      <li><%= f.radio_button :peyment_method, "現金" %>現金</li>
      <li><%= f.radio_button :peyment_method, "クレジットカード" %>クレジットカード</li>
    </ul>
  <p>ご自身の住所</p>
  <p><%= current_customer.postcode + current_customer.address + current_customer.first_name + current_customer.last_name %>

  </p>
  <p>登録済みの住所から選択</p>
  <p>新しいお届け先</p>
  <p><%= f.text_field :postcode, placeholder: "郵便番号"%></p>
  <p><%= f.text_field :address, placeholder: "住所" %></p>
  <p><%= f.text_field :name, placeholder: "名前" %></p>
  <%= f.submit "確認画面に進む" %>
<% end %>
