<p>注文情報入力</p>
<%= form_with(model: @order, url: orders_infomation_path, method: :post, local: true) do |f| %>
  <p>支払い方法</p>
  <p><%= f.radio_button :payment_method, :銀行振込, checked: "checked" %>銀行振込</p>
  <p><%= f.radio_button :payment_method, :クレジットカード %>クレジットカード</p>
  <p>お届け先</p>
  <p><%= radio_button_tag :example, 1 , checked: "checked"%>ご自身の住所</p>
  <p><%= @address %></p>
  <p><%= radio_button_tag :example, 2 %>登録済住所から選択</p>
  <p><%= f.collection_select :delivery_id, Delivery.where(customer_id: current_customer.id), :id, :customers_information %></p>
  <p><%= radio_button_tag :example, 3 %>新しいお届け先</p>
  <p><%= f.text_area :postcode, placeholder: "郵便番号"%></p>
  <p><%= f.text_area :address, placeholder: "住所" %></p>
  <p><%= f.text_area :name, placeholder: "名前" %></p>
  <%= f.submit "確認画面に進む" %>
<% end %>
