<div class ="container">
  <div class= "row">
  	<div class="col-md-2">
  	<h3><mark>商品一覧</mark>
  		<span><%= link_to "新規登録", new_admins_item_path %></span>
    </h3>
    </div>
  </div>
  <div class= "row">
  	<div class="col-md-12">
  <table class="table table-hover table-inverse">
	<thread>
		<tr>
		  <th>画像</th>
		  <th>商品ID</th>
		  <th>商品名</th>
		  <th>税抜価格</th>
		  <th>ジャンル</th>
		  <th>ステータス</th>
		</tr>
	</thread>
	<tbody>
		<% @items.each do |item| %>
		<td><%= attachment_image_tag item, :image, fallback: "no_image.jpg", size:"50x50" %></td>
		<td><%= item.id %></td>
		<td><%= link_to item.name, admins_item_path(item) %></td>
		<td><%= (item.unit_price).to_s(:delimited) %></td>
		<td><%= item.genre_name %></td>
		<td><% if item.is_soldout == true %>
			販売中止
			<% else %>
			販売中
			<% end %>
		</td>
	</tbody>
	<% end %>
   </table>
   </div>
 </div>
 <ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
</div>