<div class ="container">
  <div class= "row">
  	<div class="col-md-2">
  	</div>

  	<div class="col-md-4">
  	<h3>
  		<mark>商品新規登録</mark>
  	</h3>

  
  	<%= form_with model:@item, url: admins_items_path, local: true  do |f| %>

  	<div class="form-group row">
  		<%= attachment_image_tag @item, :image, class: "img-square",id: :img_prev, fallback: "no_image.jpg", size:"300x300" %><br>
	</div>

	<div class="form-group row">
		<%= f.attachment_field :image, id: :item_img %>
	</div>
   </div>

	<script type="text/javascript">
		$(function() {
 		  function readURL(input) {
   		if (input.files && input.files[0]) {
     	  var reader = new FileReader();
     	  reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
     	  }
     	 reader.readAsDataURL(input.files[0]);
   		}
 	   }
 		$("#item_img").change(function(){
   	 	  readURL(this);
 	   });
	  });
	</script>

	<div class="col-md-2" >
		<div class="form-group row">
			<%= f.label :name, '商品名' %>
			<%= f.text_field :name, placeholder:" 例）ケーキ", class: "form-control offset-1 col-5" %><br>
		</div>

		<div class="form-group row">
			<%= f.label :description, '商品説明' %>
			<%= f.text_area :description, placeholder:" 例）50文字以内", class: "form-control offset-1 col-5" %><br>
		</div>

		<div class="form-group row">
			<%= f.label :genre, 'ジャンル' %>
			<%= f.collection_select :genre_id, Genre.where(is_deleted: false), :id, :name, {include_blank: "---選択必須---"}, class: "form-control offset-1 col-5" %><br>
		</div>

		<div class="form-group row">
			<%= f.label :unit_price, '税抜価格(円)' %>
			<%= f.text_field :unit_price, placeholder:" 例）2,000", class: "form-control offset-1 col-4" %><br>
		</div>

		<div class="form-group row">
			<%= f.label :unit_price, '販売ステータス' %>
			<%= f.select :is_soldout, {'販売中止' => true, '販売中' => false}, {include_blank: '---選択必須---'}, class: "form-control" %><br>
		</div>

		<div class="actions">
			<%= f.submit '新規登録', class: "btn btn-default" %>
		</div>
	<% end %>
    </div>
    </div>
</div>


