<div class ="container-fluid">
  <div class= "row">
  <div class="col-md-3 sidebar">
      <%= render 'homes/genre_sidebar' %>
  </div>

  <div class="col-md-9 offset-md-3">
    <!-- 販売件数 -->
    <h2 class="px-3">商品一覧<span>（全<%= @total_number %>件）</span></h2>
    <!-- 登録商品一覧,画像をクリックしたら商品詳細画面へ遷移 -->
      <div class="row">
        <% @items.each do |item| %>
          <div class="box col-md-3 mt-3">
            <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, size: "170x170"%>
            <% end %><br>
             <span class="text-box">
                <%= item.name %><br>
                ¥<%= (item.unit_price*1.1).floor %>
             </span>
           </div>
          <% end %>
      </div>

    </div>

  </div>

</div>