<div class= "row genre-index">
  <%= render 'homes/genre_sidebar' %>
</div>

<div>
  <h2><商品一覧<span>（全<%= @total_number %>件）</span></h2>
    <div>
      <% @items.each do |item| %>
        <div>
        <%= link_to item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
          <%= attachment_image_tag item, :image, size: "170x170" %><br>
        <% end %>
          <p><%= item.name %></p>
          <p>¥<%= (item.unit_price*1.1).floor %></p>
        </div>
      <% end %>
    </div>
</div>