<div class="nav-img1"></div>
<div class="container">
  <div class="row">
  <div class="col-md-3 sidebar">
  <%= render 'homes/genre_sidebar' %>
  </div>
    <!-- 商品一覧 -->
    <div class="col-md-9 offset-md-3">
      <div class="item-box row">
        <div class="col-md-5">
          <%= attachment_image_tag @item, :image, size: "300x300" %>
        </div>
        <div class="col-md-5 offset-md-5">
          <h3><%= @item.name %></h3><br>
          <p><%= @item.description %></p>
          <p>¥<%= (@item.unit_price*1.1).floor %>（税込）</p>
        </div>
      <% if customer_signed_in? %>
      <div class="col-md-5 offset-md-5 pull-right">
        <strong class="row"><%= notice %></strong>
        <div class="row">
         <%= form_for @cart_item, url: cart_items_path(@cart_item) do |f| %>
            <%= f.hidden_field :item_id , :value => @item.id%>
            <%= f.number_field :quantity , placeholder: "個数選択", min: 1, max: 10, step:1 %>
            <%= f.submit "カートに入れる" ,class: 'btn btn-primary' %>
         <% end %>
        </div>
      </div>
      <% end %>
     </div>
    </div>
  </div>
</div>
</div>