<div class="container">

<div class= "row genre-index">
  <%= render 'homes/genre_sidebar' %>
</div>
    <!-- 商品一覧 -->
    <div>
      <div>
        <div>
          <%= attachment_image_tag @item, :image, size: "300x300" %>
        </div>
        <div>
          <h3><%= @item.name %></h3><br>
          <p><%= @item.description %></p>
          <p>¥<%= (@item.unit_price*1.1).floor %>（税込）</p>
        </div>
      </div>
      <div>
      <strong><%= notice %></strong>
        <%= form_for @cart_item, url: cart_items_path(@cart_item) do |f| %>
        <%= f.hidden_field :item_id , :value => @item.id%>
        <%= f.number_field :quantity , placeholder: "個数選択", min: 1, max: 10, step:1 %>
        <%= f.submit "カートに入れる" ,class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>