<div class="container">
  <div class="row">
    <div class="">
      <h2>ショッピングカート</h2>
    </div>
<div>
  <%= link_to "カートを空にする", cart_items_destroy_all_path(@cart_items), method: :delete %>
</div>

<table>
<tr>
  <th>商品名</th>
  <th>単価（税込）</th>
  <th>数量</th>
  <th>小計</th>
  <th></th>
</tr>

<% @cart_items.each do |cart_item| %>
  <tr>
    <td>
        <%= attachment_image_tag cart_item.item, :image, size: "60x60" %>
        <%= cart_item.item.name %>
    </td>
    <td>
      <%= (cart_item.item.unit_price*1.1).floor %>
    </td>
    <td>
      <%= form_for cart_item, url: cart_item_path(cart_item) do |f| %>
        <%= f.number_field :quantity, min:1, max:10 %>
        <%= f.submit "更新" %>
      <% end %>
    </td>
    <td>
      <%= ((cart_item.item.unit_price * 1.1).floor * cart_item.quantity) %>
    </td>
    <td>
      <%= link_to "削除", cart_item_path(cart_item), method: :delete %>
    </td>
  </tr>
  <% @total_price += ((cart_item.item.unit_price * 1.1).floor * cart_item.quantity) %>
<% end %>
</table>

  <div class="row">
    <div class="offset-1 col-2">
    <%= link_to "買い物を続ける", items_path, class: "btn brn--default" %>
  </div>
  <div>
    <p>合計金額:￥<%= @total_price %></p>
  </div>
  <div class="offset-6">
    <%= link_to "情報入力に進む", orders_path, class: "btn btn-default" %>
  </div>
</div>
</div>