<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
     <h2>タイトルLOGO画像</h2>
     <% if customer_signed_in? %>
       <nav>
        <ul class= "main-nav">
          <li>ようこそ name さん！</li>
          <li><%= link_to "マイページ" %></li>
          <li><%= link_to "商品一覧" %></li>
          <li>カート</li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        </ul>
      </nav>
       <% elsif admin_signed_in? %>
       <nav>
        <ul class= "main-nav">
          <li><%= link_to "商品一覧", admins_items_path %></li>
          <li><%= link_to "会員一覧", admins_items_path %></li>
          <li><%= link_to "注文履歴一覧", admins_items_path %></li>
          <li><%= link_to "ジャンル一覧", admins_genres_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        </ul>
      </nav>

      <% else %>
      <nav>
        <ul class= "main-nav">
          <li><%= link_to "商品一覧", new_customer_registration_path %></li>
          <li><%= link_to "新規登録", new_customer_registration_path %></li>
          <li><%= link_to "ログイン", new_customer_session_path %></li>
        </ul>
      </nav>
      <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
